@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --background-gradient: linear-gradient(to right, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --white:#fff;
  }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
}


body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    background: var(--background-gradient);
    padding: 0 1.5em;
}


.app{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15em auto 7em;
    border-radius: 30px;
    padding: 5em 1em;
    box-shadow: 1px 10px 50px var(--very-dark-desaturated-blue);
}

.square, .img-shadow1,.main-img1{
    display: none;
}

.faq-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 250px;
}

.main-img, .img-shadow{
    position: absolute;
}

.main-img{
    top: -175px;
}

.img-shadow{
    top: -60px;
}

h1{
    text-align: center;
    margin: 2em auto 0.7em;
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 2rem;
}

.accordion{
    padding: 1em;
    width: 100%;
}

.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;    
    margin: 1em auto;
    cursor: pointer;
    text-align: left;
    
}

.rotate{
    transform: rotate(180deg);
}

.title:hover{
    color: var(--soft-red);
}

.title:focus{
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
}

.content-box{
    margin-bottom: 1em; 
    line-height: 1.7;
    font-size: 0.8rem;
    color: var(--very-dark-grayish-blue);
}

.attribution {
    display: block;
    margin-bottom: 2em;
    padding: 0;
    text-align: center;
    color: var(--very-dark-desaturated-blue);
    font-size: 0.8rem;
}
  
.attribution a {
    text-decoration: none;
    color: var(--soft-red);
    font-weight: 700;
}


@media (min-width:900px){

    
    .app {
        flex-direction: row;
        max-width: 900px;
        padding: 5em 6em;
        margin: 7.5em auto;
    }

    .main-img, .img-shadow{
        display: none;
    }

    .faq-header{
        width: 50%;
    }

    .square, .main-img1, .img-shadow1{
        display: unset;
        position: absolute;
    }

    .main-img1{
        top: -180px;
        left: -130px;
        clip-path: polygon(16% 0,100% 0, 100% 100%, 14% 100%);
    }

    .square{
        top: -85px;
        left: -170px;
        z-index: 1;
    }

    .img-shadow1{
        top: -180px;
        left: -100px;
    }

    h1{
        text-align: left;
        margin-top: 0;
        margin-bottom: 1em;
        font-size: 2.5rem;
    }

    .accordion{
        width: 50%;
    }

    .attribution {
        display: none;
    }
    
}
